body {
  font-family: system-ui;
  background: white;
  color: black;
  display: block;
  text-align: center;
  font-size: 16px;
  height: 100vh;
  overflow: auto;
  background: black;
  justify-content: center;
}

h1{
  color: red;
  stroke: black;
  font-size: 5rem;
}

  
  h2 {
    margin-top: 3rem;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 0.7rem;
    color: white; 
    width: 300px;
  }
  
  .content {
    display: grid;
    grid-template-rows: auto;
    align-items: left;
    width: 100%;
  }
  
  .container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Dynamic columns */
    gap: 1rem; /* Space between grid items */
    justify-items: center;
  }
  
  
  img {
    height: auto;
    width: 300px;
    border: solid;
    border-width: 1rem;
    position: relative;
  }

  img:hover{
    height: auto;
    width: 600px;
    border: solid;
    border-width: 1rem;
    position: relative;
  }

  .item{
    display: block;
  }
  
  /* ✅ Fix: Responsive layout */
  @media (max-width: 740px) {
    h2 {
      font-size: 10px;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
  }



